@import url(normalize.css);

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    font-family: Arial, sans-serif;

}
.link {
	text-decoration: none;
	color: #e12a6c;
	cursor: pointer;
}
.link:hover {
	color: #f0f0f0;
	transition: all 0.3s ease;
}
.container {
	width: 100vw;
	height: 100vh;
	padding-top: 60px;
	background: -webkit-linear-gradient(29deg, #ff512f 0%, #dd2476 100%);
}
.clearfix {
	clear: both;
}
/* =====================================
.account-info
========================================
*/
.account-info {
	max-width: 460px;
	margin: 0 auto;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background-color: #ffffff;	
}
.account-title {
	margin: 0 0 16px 0;
	padding-left: 35px;
	position: relative;
	color: #1b1c1d;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}
.account-title::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	background: url("../img/sign-up-icon.png");
	top: 0;
    left: 0;
}
.account-subtitle {
	margin: 0 0 34px 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: justify;
	color: #7a7b7f;
}

/* =====================================
.account-form
========================================
*/
.account-form {
	margin-bottom: 26px;
}
.form__input--wrap {
	margin: 0 0 15px 0;
}
.form__input {
	padding-left: 14px;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: none;
	background-color: #f0f0f0;
}
.form__firstname {
	width: 50%;
	float: left;
	padding-right: 7px;
	
}
.form__lastname {
	width: 50%;
	float: right;
	padding-left: 7px;
}
.form__input::-webkit-input-placeholder {
/* .form__input::-moz-placeholder,          
.form__input:-moz-placeholder,          
.form__input:-ms-input-placeholder  */
	color: #7a7b7f;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
} 
.form__input:hover {
	cursor: pointer;
	background-color: #FFF;
	transition: all 0.3s ease;
}   
.form__input:focus {
	cursor: pointer;
	outline-color: #e12a6c;
	background-color: #FFF;
	transition: all 0.3s ease;
}
.form__input:focus::-webkit-input-placeholder {
	opacity: 0; 
	transition: opacity 0.3s ease;
}
.form__input--block {
	box-shadow: 0 3px 0 #bd1962;
	background-color: #ea355a;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}
.form__input--block:hover {
	cursor: pointer;
	background-color: #bd1962;
	transition: all 0.3s ease;
}
.account-text {
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: #7a7b7f;
	text-align: justify;
}





